<h1>Listing tasklists</h1>
  <ul class="list-group">
    <% @tasklists.each do |tasklist| %>  
      <li class="list-group-item"><input name="taskcheckbox" type="checkbox"> <%= tasklist.name%></li>
    <% end %>
  </ul>
<br>

<%= link_to 'New Tasklist', new_tasklist_path %>

<script type="text/javascript">
  $("[name='taskcheckbox']").change(function() {
    alert("hello world!");
  })
</script>