<h1 style="font-family:verdana;text-align:center;color:#0B2161;font-size:30px;">To Do List</h1>

<h1 style ="font-family:verdana;color:#0B2161;font-size:20px; ">1. New Tasklist</h1>
<h1 style ="font-family:verdana;color:#0B2161;font-size:20px; ">2. Fill in the name, category, is completed, and date to do</h1>

<h1 style ="font-family:verdana;color:#0B2161;font-size:20px; ">3. Create Tasklist!</h1>

<h1 style ="font-family:verdana;color:#0B2161;font-size:20px; ">4. You're done!!</h1>
<body style="background-color:#04B4AE;">
