<h1 style="font-family:verdana;text-align:center;color:#0B2161;font-size:30px;">To Do List</h1>

<marquee style ="font-family:verdana;color:#0B2161;font-size:25px; ">Get things done!</marquee>
<body style="background-color:#04B4AE;">
